/*
Credit: #
*/

body {
	margin: 0;
	padding: 0;
	color: #636363;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.5em; 
	background-color: #fff;
	background-position: top;
	background-repeat: repeat-x;
}

a, a:link, a:visited { 
	color: #ff0000; 
	font-weight: normal; 
}

a:hover { 
	text-decoration: underline; 
}

a.more { 
	display: block; 
	margin-top: 20px; 
	width: 110px; 
	height: 26px; 
	line-height: 26px; 
	text-align: left; 
	padding-left: 10px; 
	text-decoration: none; 
	background: url(../images/templatemo_more.png) center left;
	color: #fff;
}

p { 
	margin: 0 0 10px 0; 
	padding: 0; 
}

img { 
	border: none;
}

blockquote { 
	border: 1px solid #ccc; 
	border-left: 5px solid #000; 
	padding: 19px;
	margin: 20px 0 0 0;
}

cite { 
	font-weight: bold; 
	color:#f00; 
}

cite a, cite a:link, cite a:visited  {
	color:#f00; 
	text-decoration: none;
}

cite span {
	color: #636363;
}

em { color: #000; }

h1, h2, h3, h4, h5, h6 { color: #000; font-weight: normal;  font-family: Georgia, "Times New Roman", Times, serif }
h1 { font-size: 34px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 20px; padding: 5px 0; }
h3 { font-size: 22px; margin: 0 0 10px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.image_frame { 
	margin-bottom: 10px; 
	padding: 5px; 
	border: 1px solid #ccc; 
}

.image_fl { 
	float: left; 
	margin: 3px 30px 0 0; 
}

.image_fr { 
	float: right; 
	margin: 3px 0 0 30px; 
}

.templatemo_list { 
	margin: 10px 0 10px 0; 
	padding: 0; 
	list-style: none; 
}

.templatemo_list li { 
	color:#636363; 
	margin: 0 0 5px 0; 
	padding: 0 0 0 20px; 
	background: url(../images/templatemo_list.png) no-repeat scroll 0 7px;  
}

.templatemo_list li a { 
	color: #636363; 
	font-weight: normal; 
}

.templatemo_list li a:hover { color: #000 }

#templatemo_wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 30px 10px;
}

#templatemo_header {
	width: 900px;
	height: 30px;
	padding: 30px 40px 30px 20px;
	background: url(../images/templatemo_header.jpg) no-repeat;
}

#site_title { 
	float: left; 
}

#site_title h1 { 
	margin: 0; 
	padding: 0; 
}

#site_title h1 a { 
	display: block; 
	width: 230px; 
	height: 27px; 
	color: #000; 
	text-indent: -10000px; 
	background: url(../images/templatemo_logo.png) no-repeat top left; 
}

#templatemo_menu { float: right; }

#templatemo_slider { clear: both; margin: 10px 0 }

#templatemo_main {
	clear: both;
}

#content_top { 	
	padding: 40px 0 5px; 
	margin-bottom: 40px; 
	border-bottom: 4px solid #000; 
}

#page_title { 
	float: left; 
	font-size: 48px; 
	padding-bottom: 14px; 
	font-family: Georgia, "Times New Roman", Times, serif; 
	color: #000; 
}  

#search_box { 
	float: right; 
	width: 280px; 
	height: 30px; 
	background: url(../images/templatemo_search.png) no-repeat; 
}

#search_box form { 
	clear: both; 
	width: 280px; 
	height: 28px; 
	padding: 0; 
	margin: 0; 
} 

#searchfield { 
	float: left; 
	display: block; 
	height: 20px;
	width: 220px; 
	padding: 4px; 
	font-size: 12px; 
	color: #fff; 
	background: none; 
	border: none; 
} 

#searchbutton { 
	float: right; 
	display: block; 
	height: 28px; 
	width: 40px; 
	padding: 0; 
	margin: 0; 
	cursor: pointer; 
	background: none; 
	border: none; 
}

#templatemo_content {
	float: left;
	width: 650px;
}

#templatemo_sidebar {
	float: right;
	width: 280px
}

.col_3 { 
	float: left; 
	width: 280px; 
	margin-right: 59px; 
}

.col_4 { 
	float: left; 
	width: 225px; 
	margin-right: 20px; 
}

.rmc { margin-right: 0 }

.gallery_box { 
	clear: both; 
	margin-bottom: 40px; 
}

.gallery_box h2 { 
	padding-bottom: 8px; 
	margin-bottom: 10px; 
	border-bottom: 2px solid #000; 
}

.gallery { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.gallery li { 
	margin: 0; 
	padding: 0; 
	display: block; 
	float: left; 
	padding: 5px; 
	margin: 0 8px 8px 0; 
	width: 220px; 
	height: 150px; 
	border: 1px solid #ccc;  
}

.gallery li a img { 
	display: block; 
	float: left; 
	width: 220px; 
	height: 150px; 
	margin: 0 2px 2px 0;  
}

.post_box { 
	clear: both; 
	margin-bottom: 30px; 
	padding-bottom: 30px; 
	background: url(../images/templatemo_divider.png) repeat-x bottom; 
}

.post_box img { 
	float: left; 
	margin-right: 40px; 
}

.post_box h2 { 
	font-size: 30px; 
	padding-bottom: 10px; 
	border-bottom: 2px solid #000; 
}

.likes_div img {
	margin-top: 10px;
	height: 50px;
	width:50px;
	padding: 0 10px;
	opacity:0.2;
}

.post_meta { 
	clear: both; 
	margin-top: 20px; 
	height: 40px; 
	padding: 0 10px; 
	background: url(../images/templatemo_footer_bottom.jpg) repeat-x center; 
	line-height: 30px;  
	margin-bottom: 20px; 
}

.post_meta a.more { margin: 5px 0 0 }

#comment_section {
	clear: both;
	margin-bottom: 60px;
	width: 618px;
}

.first_level {
	margin: 0; padding: 0;
}

.comments {
	list-style: none; 
}

.comments li { 
	margin-bottom: 10px; 
	list-style:none; 
}

.comments li .commentbox1 { 
	background: #ccc; 
	border: 1px solid #999; 
}

.comments li .commentbox2 { 
	background: #999; 
	border: 1px solid #666; 
}

.comments li .comment_box { 
	clear: both; 
	width:100%; 
	padding: 15px;  
}

.comment_box .gravatar { 
	float: left; 
	width: 50px; 
	margin-right: 15px; 
	background: #000; 
}

.comment_box .gravatar img { 
	margin: 0; 
	width: 50px; 
	height: 50px; 
}

.comment_box .comment_text { margin: 0 0 0 65px; }

.comment_box .comment_text p { 
	margin: 0; 
	color: #000; 
}

.comment_text .comment_author { 
	font-size: 14px; 
	font-weight: bold; 
	color: #000; 
	margin-bottom: 10px; 
}

.comment_text .date { 
	font-size: 11px; 
	font-weight: normal; 
	color: #000; 
	padding-left: 10px; 
}

.comment_text .time { 
	font-size: 11px; 
	font-weight: normal; 
	color: #000; 
	padding-left: 10px; 
}

.comment_text .reply a { 
	display: block; 
	clear: both; 
	float: right; 
	color: #000; 
	font-weight: bold; 
} 

#comment_form {
	clear: both;
}

#comment_form h3 {
	font-size: 20px;
	border-bottom: 2px solid #000;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

#comment_form form {
	padding: 20px;
	background: #ccc; border: 1px solid #999;
}

#comment_form textarea {
	color: #fff;
	background:#666 none repeat fixed 0 0;
	border: 1px solid #333;
	display:block;
	height:150px;
	padding:5px;
	width: 360px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#comment_form .form_row {
	width: 100%;
	margin-bottom: 15px;
}

#comment_form form input {
	color: #fff;
	padding: 5px;
	width: 200px;
	background: #666 none repeat fixed 0 0;
	border: 1px solid #333;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#comment_form .submit_btn {
	width: 80px;
	padding: 5px 20px;
	background: #0c0c0c;
	border: 1px solid #000
}

.templatemo_paging { 
	margin: 0 0 20px; 
	padding: 0; 
}

.templatemo_paging ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.templatemo_paging ul li { 
	margin: 0; 
	padding: 0; 
	display: inline; 
}

.templatemo_paging ul li a { 
	float: left; 
	display: block; 
	color: #666; 
	text-decoration: none; 
	margin-right: 5px; 
	padding: 5px 10px; 
	background-color: #ccc; 
	border: 1px solid #999; 
}

.templatemo_paging ul li a:hover { 
	background: #f00; 
	border: 1px solid #333; 
	color: #fff;  
}

#contact_form { 
	clear: both; 
	padding: 0; 
	margin-top: 40px; 
}

#contact_form form { 
	margin: 0px; 
	padding: 0px; 
}

#contact_form form .input_field { 
	width: 280px; 
	padding: 5px; 
	color: #222;  
	border: 1px solid #ccc; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form label { 
	display: block; 
	width: 100px; 
	margin-right: 10px; 
	font-size: 14px; 
}

#contact_form form textarea { 
	width: 638px; 
	height: 200px; 
	padding: 5px;  
	border: 1px solid #ccc; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form .submit_btn { 
	display: block; 
	padding: 10px 20px; 
	text-align: center; 
	text-decoration: none; 
	font-weight: bold; 
	background: #f00;  
	color: #fff; 
	border: none; 
	font-size:11px; 
	cursor: pointer; 
}

.sb_box { 
	margin-bottom: 30px; 
}

.sb_box h3 { 
	padding-bottom: 4px; 
	border-bottom: 2px solid #000; 
}

.sb_list { 
	padding: 0; 
	margin: 0; 
}

.sb_list li { 
	padding: 0 0 3px 0; 
	margin: 0 0 5px 0; 
	list-style: none; 
	border-bottom: 1px solid #ccc; 
}

.sb_list li a { 
	color: #636363; 
	text-decoration: none; 
	padding-left: 20px; 
	background: url(../images/templatemo_list.png) no-repeat scroll 0 7px; 
}

#templatemo_bottom {
	clear: both;
	margin: 30px 0 10px;
	padding: 30px 0;
	font-size: 11px;
	background: #ededed url(../images/templatemo_bottom.jpg) top repeat-x;
}

.col_f { 
	padding-left: 15px; 
	width: 210px; 
}

.col_l { 
	padding-right: 15px; 
	width: 210px; 
}

.footer_link { 
	margin: 0; 
	padding: 0; 
}

.footer_link li { 
	margin-bottom: 5px; 
	padding-bottom: 3px; 
	border-bottom: 1px solid #666; 
	list-style: none; 
}

.footer_link li a { 
	color: #000; 
	text-decoration: none; 
}

.footer_link li .social { 
	padding-left: 30px; 
}

.footer_link li .facebook { 
	background: url(../images/facebook.png) left center no-repeat; 
}

.footer_link li .linkedin {
	background: url(../images/linkedin.png) left center no-repeat; 
}

.footer_link li .myspace { 
	background: url(../images/myspace.png) left center no-repeat; 
}

.footer_link li .youtube { 
	background: url(../images/youtube.png) left center no-repeat; 
}

.footer_link li .vimeo { 
	background: url(../images/vimeo.png) left center no-repeat; 
}

#templatemo_footer {
	clear: both;
	text-align: center;
	line-height: 40px;
	width: 960px;
	height: 50px;
	background: url(../images/templatemo_footer_bottom.jpg) repeat-x
}

table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 60%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}