<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加新闻</title>
</head>

<body>
	<form method="post">
    <table border="0">
    <tr><td>新闻标题</td><td><input type="text" name="title"/></td></tr>
    <tr><td>内容</td><td><input type="text" name="context" /></td></tr>
    <tr><td>发表时间</td><td><input type="text" name="newstime" /></td></tr>
    <tr><td>分类</td><td><input type="text" name="classfication" /></td></tr>
    </table>
    <input type="submit" value="保存" />
	</form>
</body>
</html>
