<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Newspaper Theme - Contact Page</title>
<meta name="keywords" content="newspaper, theme, free templates, contact form, CSS, HTML" />
<meta name="description" content="Newspaper Theme, Contact Page, Contact Form, free Template from www.cssmoban.com" />
<link href="/static/css/templatemo_style.css" rel="stylesheet" type="text/css" />

<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

<link rel="stylesheet" type="text/css" href="/static/css/ddsmoothmenu.css" />

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>

<script type="text/javascript">
 <!-- 
  $(document).ready(function(e) {
    $('a.zhan').click(function(){
  var left = parseInt($(this).offset().left)+10, top =  parseInt($(this).offset().top)-10, obj=$(this);
  $(this).append('<div id="zhan"><b>+1<\/b></\div>');
  $('#zhan').css({'position':'absolute','<a href="https://www.baidu.com/s?wd=z-index&tn=44039180_cpr&fenlei=mv6quAkxTZn0IZRqIHckPjm4nH00T1dWujPWryPWnvn3nAcLujck0AP8IA3qPjfsn1bkrjKxmLKz0ZNzUjdCIZwsrBtEXh9GuA7EQhF9pywdQhPEUiqkIyN1IA-EUBtdPWfsrHRvPjb" target="_blank" class="baidu-highlight">z-index</a>':'1', 'color':'#C30','left':left+'px','top':top+'px'}).animate({top:top-10,left:left+10},'slow',function(){
   $(this).fadeIn('fast').remove();
   var Num = parseInt(obj.find('span').text());
       Num++;
    obj.find('span').text(Num);
  });
   
   
  return false;
 });
 });
 </script>
</head>

<body>

<div id="templatemo_wrapper">
	<div id="templatemo_header">
    	<div id="site_title">
        	<h1><a href="#">Free CSS Templates</a></h1>
        </div>
        <div id="templatemo_menu" class="ddsmoothmenu">
            <ul>
              	<li><a href="/news/home/" class="selected">主页</a></li>
          		<li><a href="/news/hot/">热点</a></li>
          		<li><a href="/news/social/">社会</a></li>
                <li><a href="/news/amusement/">娱乐</a></li>
                <li><a href="/news/international/">国际</a></li>
                <li><a href="">更多</a>
                	<ul>
                        <li><a href="/news/domestic/">国内新闻</a></li>
                        <li><a href="/news/military/">军事新闻</a></li>
                        <li><a href="/news/sports/">体育新闻</a></li>
                  	</ul></li>
                <li><a href="/User/login/">登录</a></li>
            </ul>
            <br style="clear: left" />
        </div> <!-- end of templatemo_menu -->
    </div> <!-- end of header -->
    
    <div id="content_top">
     <div id="page_title">中国好新闻</div>
        <div id="search_box">
            <form action="#" method="get">
                <input type="text" value="Search" name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                <input type="submit" name="Search" value="" id="searchbutton" title="Search" />
            </form>
        </div>
        <div class="cleaner"></div>
    </div>  
    
    <div id="templatemo_content">
       <div class="post_box">
                <h2>APEC峰会期间习近平与阿基诺将"比邻而坐"</h2>
                <img src="/static/images/apec.jpg"  alt="apec" />
                <p>据菲律宾《商报》11月13日报道，亚太经合会议(APEC)第23次领导人非正式会议将于11月18日至19日在菲律宾马尼拉举行。阿基诺总统将在许多场合与中国国家主席习近平比邻而坐。</p>
              	<div class="post_meta">
                <span class="cat">Posted in <a href="#">Illustrations</a>, <a href="#">Graphics</a></span> | Date: June 27, 2048 | <a href="#">129 comments</a>
                <a href="blog_post.html" class="more float_r">Continue</a>
                </div>
            </div>
             <div>
               <h2><a class="zhan" href="#"><font color="#FF0000">投票</font><font color="#FF0000">(<span>0</span>)</font></a></h2></div>
            <div class="sb_box">
        	<h3>新闻来源：</h3>
            <ul class="sb_list">
            	<li><a href="http://www.sohu.com/" target="_blank">搜狐</a>&nbsp;<a href="http://news.sohu.com/s2015/apec/index.shtml" target="_blank">http://news.sohu.com/s2015/apec/index.shtml</a></li>
                <li><a href="http://www.sina.com.cn/" target="_blank">新浪新闻</a>&nbsp;<a href="http://news.sina.com.cn/o/2015-11-13/doc-ifxkrwks3863107.shtml" target="_blank">http://news.sina.com.cn/o/2015-11-13/doc-ifxkrwks3863107.shtml</a></li>
                <li><a href="http://www.china.com/" target="_blank">中华网</a>&nbsp;<a href="http://news.china.com/focus/2015apec/11174790/20151113/20742825.html" target="_blank">http://news.china.com/focus/2015apec/11174790/20151113/20742825.html</a></li>
                <li><a href="http://www.fjii.com/" target="_blank">福建热线</a>&nbsp;<a href="http://www.fjii.com/a/guone/20151113/47159.html" target="_blank">http://www.fjii.com/a/guone/20151113/47159.html</a></li>
                <li><a href="http://www.cnr.cn/" target="_blank">央广网</a>&nbsp;<a href="http://news.cnr.cn/native/gd/20151113/t20151113_520493992.shtml" target="_blank">http://news.cnr.cn/native/gd/20151113/t20151113_520493992.shtml</a></li>
                <li><a href="http://news.hainan.net/" target="_blank">海南在线</a>&nbsp;<a href="http://news.hainan.net/guonei/guoneiliebiao/2015/11/13/2614452.shtml" target="_blank">http://news.hainan.net/guonei/guoneiliebiao/2015/11/13/2614452.shtml</a></li>
                <li><a href="http://www.cnwest.com/" target="_blank">西部网</a>&nbsp;<a href="http://news.cnwest.com/content/2015-11/13/content_13330662.htm" target="_blank">http://news.cnwest.com/content/2015-11/13/content_13330662.htm</a></li>
			</ul>
        </div>
  		<h3>添加评论</h3>
         <div id="contact_form">
            <form method="post" name="contact" action="#">
                <div class="cleaner h20"></div>
                <label for="text">Message:</label> <textarea id="text" name="text" rows="0" cols="0" class="required"></textarea>
                <div class="cleaner h20"></div>
                <input type="submit" class="submit_btn float_l" name="submit" id="submit" value="Send" /> 
            </form>
        </div> 
        
    </div> <!-- end of content -->
    <div id="templatemo_sidebar">
        <div class="sb_box">
        	<h3>相关内容</h3>
            <ul class="sb_list">
            	<li><a href="international.html">国际新闻</a></li>
                <li><a href="domestic.html">国内新闻</a></li>
                <li><a href="hot.hyml">新闻热点</a></li>
                <li><a href="social.html">社会头条</a></li>
                <li><a href="military.html">军事新闻</a></li>
                <li><a href="sports.html">体育快讯</a></li>
                <li><a href="amusement.html">娱乐头条</a></li>
			</ul>
        </div>
        
       <div class="sb_box">
        	<h3>热点推荐</h3>
           	 <h4>放大招了，2016年四大卫视的重头剧都在这</h4>
             <p>江苏卫视

江苏台明年将继续主打大剧战略和独播战略，囤积储备了近20部剧目。类型题材涵盖各个类型。它们还要推出周播剧战略，拟定于周三周四晚间播出。播出剧目时间均未定。主打剧 放大招了，2016年四大卫视的重头剧都在这《胭脂》 《女医明妃传》 《白鹿原》放大招了，2016年四大卫视的重头剧都在这《微微一笑很倾城》《锦绣未央》《秀丽江山之长歌行》锦绣缘璀璨年华》</p>
            <div class="cleaner"></div>
            <a href="#" class="more">More</a>
        </div>
        </div>
        
	</div> <!-- end of sidebar -->
    <div class="cleaner"></div>
    
    <div id="templatemo_bottom" align="center">
    	<p><a href="http://www.gov.cn/" target="_blank">中国政府网</a> | <a href="http://www.china.com.cn" target="_blank">中国网</a> | <a href="http://www.people.com.cn/" target="_blank">人民网</a> | <a href="http://www.xinhuanet.com/" target="_blank">新华网</a> | <a href="http://www.chinanews.com/" target="_blank">中新网</a> | <a href="http://www.cctv.com/default.shtml" target="_blank">央视网</a> | <a href="http://www.cnr.cn/" target="_blank">中广网</a> |  <a href="http://www.chinadaily.com.cn/" target="_blank">中国日报</a> | <a href="http://www.cyol.net/node/index.htm" target="_blank">中青在线</a> | <a href="http://www.gmw.cn/" target="_blank">光明网</a> | <a href="http://www.chinamil.com.cn/" target="_blank">解放军报</a> | <a href="http://www.legaldaily.com.cn/" target="_blank">法制日报</a> | <a href="http://www.taiwan.cn/" target="_blank">中国台湾网</a> | <a href="http://www.ce.cn/" target="_blank">中经网</a> | <a href="http://www.nfcmag.com/" target="_blank">南风窗</a></p>
  <p><a href="http://www.chinaweekly.cn/" target="_blank">中国周刊</a> | <a href="http://www.lifeweek.com.cn/" target="_blank">三联生活周刊</a> | <a href="http://www.ynet.com/" target="_blank">北青网</a> | <a href="http://www.dayoo.com/" target="_blank">大洋网</a> | <a href="http://www.nanfangdaily.com.cn" target="_blank">南方报业</a> | <a href="http://www.ycwb.com/" target="_blank">金羊网</a> | <a href="http://www.southcn.com/" target="_blank">南方网</a> | <a href="http://www.eastday.com" target="_blank">东方网</a> | <a href="http://www.21dnn.com/" target="_blank">千龙网</a> | <a href="http://www.thebeijingnews.com/" target="_blank">新京报</a> | <a href="http://epaper.jinghua.cn/" target="_blank">京华时报</a>| <a href="http://www.rednet.com.cn/" target="_blank">红网</a> | <a href="http://workercn.cn/" target="_blank">工人日报</a> | <a href="http://www.inewsweek.cn/" target="_blank">中国新闻周刊</a> | <a href="http://www.cankaoxiaoxi.com/" target="_blank">参考消息</a></p>
  <p><a href="http://www.neweekly.com.cn" target="_blank">新周刊</a> | <a href="http://www.dahe.cn/" target="_blank">大河网</a> | <a href="http://www.chinapeace.org.cn/" target="_blank">中国长安网</a> | <a href="http://www.huanqiu.com/" target="_blank">环球网</a> | <a href="http://www.newssc.org" target="_blank">四川新闻网</a> | <a href="http://www.morningpost.com.cn/" target="_blank">北晨网</a> | <a href="http://www.zjol.com.cn/" target="_blank">浙江在线</a> | <a href="http://gb.cri.cn/" target="_blank">国际在线</a> | <a href="http://www.e23.cn/" target="_blank">舜网</a> | <a href="http://www.xkb.com.cn./index.php" target="_blank">新快网</a> | <a href="http://www.jxcn.cn/" target="_blank">中国江西网</a> | <a href="http://www.yunnan.cn" target="_blank">云南网</a> | <a href="http://www.szed.com/" target="_blank">深圳新闻网</a> | <a href="http://www.anhuinews.com/" target="_blank">中安在线</a> | <a href="http://www.xwh.cn/" target="_blank">新文化网</a></p>
  <p><a href="http://www.ts.cn/" target="_blank">天山网</a> | <a href="http://www.iyaxin.com/" target="_blank">亚心网</a> | <a href="http://www.dzwww.com/" target="_blank">大众网</a> | <a href="http://www.jxnews.com.cn/" target="_blank">大江网</a> | <a href="http://www.hsw.cn/" target="_blank">华商网</a> | <a href="http://www.chinaxiaokang.com/" target="_blank">中国小康网</a> | <a href="http://www.jxcbw.cn/" target="_blank">江西晨报网</a> | <a href="http://xmzk.xinminweekly.com.cn/" target="_blank">新民周刊</a> | <a href="http://www.fjsen.com/" target="_blank">东南网</a> | <a href="http://www.sdnews.com.cn/" target="_blank">山东新闻网</a> | <a href="http://www.xinjiangnet.com.cn/" target="_blank">新疆网</a> | <a href="http://www.cqnews.net/" target="_blank">华龙网</a> | <a href="http://news.cnhubei.com/" target="_blank">荆楚网</a> | <a href="http://www.ahwang.cn/" target="_blank">安徽网</a> | <a href="http://news.sina.com.cn/media.html" target="_blank">媒体大全</a></p>
    
    <div id="templatemo_footer">
    	Copyright@HIT <a href="#">03107</a>
    </div>
</div>

</body>
</html>