<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>《今日之‘新’》新闻贵在‘新’，最快的新闻网站！</title>
<meta name="keywords" content="今日之‘新’——哈工大学生的新闻" />
<meta name="description" content="《今日之‘新’》是哈工大学生自主开发的一个展现最新新闻的网站" />
</head>
<body>
<div>
	<h2><font color="#FF0000">今日之‘新’——看新闻，你最好的选择</font></h2>
</div>
	<div style="position:absolute;z-index:-1;left:150px;top:100px">
	<form method="get">
		<table border="0" >
        {% for news in news_list %}
        <tr><td><h1><a href="/news/detail/?id={{news.id}}" style="text-decoration:none">{{news.title}}</a> </h1></td></tr>
        {% endfor %}
		</table>
	</form>
</div>
</body>
</html>
