<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Wort - An HTML5 Registration Template</title>
		<script src="modernizr.js"></script>
		<link href="/static/css/registerstyle.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/pnf.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>{% load staticfiles %}
	<body>
	  <div class="content">
			<div id="register_box">
				<div id="head">
					<h1>创建新账户</h1>
					<div class="tag">欢迎您注册中国好新闻</div>
				</div>
				<div id="main_box">
					<form class="register">
						<h1>免费注册</h1>
						<br />
						
						<div class="text">
							<img src="/static/images/username.png" alt="username" />
							<input type="text" name="username" placeholder="Username" /><br />
						</div>
						<div class="text">
							<img src="/static/images/email.png" alt="email" />
							<input type="text" name="email" placeholder="Email Address" /><br />
						</div>
						<div class="text">
							<img src="/static/images/password.png" alt="password" />
							<input type="password" name="password" placeholder="Password" /><br />
						</div>	
						
						<input type="submit" value="立即注册" />
						<br /><br /><br />					
						<div class="login">
							已有帐号？
							<a href="/Use/login/">立即登陆</a>
						</div>
					</form>
					
					<div class="right_box">
						<div id="benefits">
							<h1>Reasons to register</h1><br />
							
							<ul>
								<li>
									<div class="he">信息全</div>
									<span>注册的用户和获得本网站更多的信息</span>
								</li>
								<li>
									<div class="he">可评论</div>
									<span>注册的用户可以在相关新闻处发表自己的见解</span>
								</li>
								<li>
									<div class="he">可投票</div>
									<span>注册的用户可以为新闻投票以体现用户的喜好</span>
								</li>
							</ul>
						</div>
						<br /><br /><br />
					</div>
				</div>
				<div id="footer_box">
					Copyright@HIT <a href="#">03107</a>
				</div>
			</div>
		</div>
		</body>
	</body>
</html>